

#logo{
    margin-left: 43%;
    margin-top: 0%;
}

#div_cpf{
    margin-left: 42%;

    
    width: 230px;
    height: 50px;

}

#div_nome{
       
        margin-left: 42%;
        width: 230px;
        height: 50px;
  
}

.letras{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b3b3b;
}

#nome{
    margin-top: 2%;
    margin-left:0%;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    width: 220px;
    height: 20px;
    background-color: #d9d9d9;
}

#div_telefone{
    margin-left: 42%;
    width: 230px;
    height: 50px;
}

#telefone{
    margin-top: 2%;
    margin-left:0%;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    width: 220px;
    height: 20px;
    background-color: #d9d9d9;
}

#div_idade{
    margin-left: 42%;
    width: 230px;
    height: 50px;
}
#idade{
    margin-top: 2%;
    margin-left:0%;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    width: 220px;
    height: 20px;
    background-color: #d9d9d9;
}



#cpf{
    margin-top: 2%;
    margin-left:0%;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    width: 220px;
    height: 20px;
    background-color: #d9d9d9;
}

#div_senha{
    margin-left: 42%;
    margin-top: 0%;
 
    
    width: 230px;
    height: 50px;

}

#senha{
    margin-top: 2%;
    margin-left:0%;
    border: 1px solid rgb(129, 129, 129);
    display: flex;
    width: 220px;
    height: 20px;
    background-color: #d9d9d9;
}



#cadastro{
    margin-top: -3%;
    margin-left: 41%;
    width: 250px;
    height: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #3b3b3b;
}

#cadastrar{
    margin-left: 47%;
    margin-top: 1%;
    background-color: green;
    width: 90px;
    height: 45px;
    border-radius: 5px;
  
    border: 0.5px solid #b3b3b3;
    cursor: pointer;
}

#letrad{
    margin-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: white;
}